
    .navbar{
        background-color: red !important;

    }
    .div1{
        margin-left:auto; margin-right:0;
    }

    ul>li>a{
        color: white !important;
    }
    ul>li{

    }
    ul>li>a:hover{
   color: orange !important;


    }
